# Environment variables & Secret Files
.env
.env.local
.env.*.local
*.env
application-local.properties
application-secret.properties
application-*.properties
!application.properties
!.env.example
!forum_be/.env.example
!forum_fe/.env.example

# Dependencies & Build
node_modules/
dist/
build/
.gradle/
.gradle_home/
bin/
out/

# Log files
*.log
/log/
/logs/

# IDE files
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# Uploads & Data Dump
/uploads/
forum_be/uploads/
*.rdb
dump.rdb
